*{
    margin: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* common styles */
nav , .hero-container{
    border: 1px solid red;
    width: 89%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;
}
.btn{
    background-color: #469165;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

/* header */
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
/* nav menu */
.nav-menu{
    max-width: 800px;
}
 ul{
    display: flex;
    justify-content: space-between;
}
/* hero section */
#hero{
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px auto;
    /* height: 670px; */
    border: 1px solid red;
}
.hero-container{
    text-align: center;
    color: white;
    margin: 150px auto;
}
.hero-description h1{
    font-size: 72px;
    font-weight: bold;
}
.h1-style{
    color:#469165 ;
}
.hero-description p{
    margin: 25px auto;
    line-height: 20px;
}
.btn-s{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    color:#469165 ;
    font-weight: 700;
    font-size: 16px;
    border: none;
}
.btn-s-2{
    margin-left: 10px;
     padding: 10px;
    background: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
}
