*{
    margin: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* common styles */
nav , .hero-container , .notes-description , .notes-container , 
.solution-container ,
.early-container ,
.footer-container , 
hr {
  
    border: 1px solid red;
    width: 89%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;
}
.text-gray{
    color: #627382;
    line-height: 20px;
    margin-top: 15px;
}
.text-navy{
    color: #001931;
    font-size: 48px;
}
.btn{
    background-color: #469165;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
}
button:hover{
    background-color: aqua;
    border: 1px solid tomato;
    cursor: pointer;
}
/* header */
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
nav ul li {
    list-style: none;
    
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
/* nav menu */
.nav-menu{
    max-width: 800px;
}
 ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/* hero section */
#hero{
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px auto;
    /* height: 670px; */
    border: 1px solid red;
}
.hero-container{
    text-align: center;
    color: white;
    margin: 150px auto;
}
.hero-description h1{
    font-size: 72px;
    font-weight: bold;
}
.h1-style{
    color:#469165 ;
}
.hero-description p{
    margin: 25px auto;
    line-height: 20px;
}
.btn-s{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    color:#469165 ;
    font-weight: 700;
    font-size: 16px;
    border: none;
}
.btn-s-2{
    margin-left: 10px;
     padding: 10px;
    background: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
}
/* notes */
#notes{
    text-align: center;
}
.notes-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.notes-description h2{
    font-size: 45px;
    font-weight: bold;
    margin-top: 25px;
}
.note{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.note-image{
    background-color: #F95555;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    /* position: absolute; */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-card-des h4{
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
}
/* solution */
.solution-container{
    margin: 50px auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.sol-description{
    border: 1px solid red;
    max-width: 700px;
    padding-right: 120px;
}
.checkline{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
/* early section */
.early-container{
    text-align: center;
    background-color:#F7F6F2 ;
    
}
.early-container h2 {
    margin-top: 10px;
}
.early-container p{
    margin-bottom: 10px;
}
/* footer */
footer{
    background-color: #001931;
    margin-top: 50px;
    padding: 50px;
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.footer-links{
    margin-right: 50px;
}
.footer-link{
    margin-top: 15px;
}
.footer-link img{
    
    border: 1px solid white;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    
}
.copy{
    text-align: center;
    color: white;
    margin-top: 20px;
}