
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* common styles */
nav {
    width: 89%;
    max-width: 1360px;
    margin: 0 auto;
}
/* header */
nav{
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    justify-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
/* nav menu */
.nav-menu{
    max-width: 800px;
}
 ul{
    display: flex;
    justify-content: space-between;
}
/* .nav-button{
    display: flex;
    justify-items: center;
} */